################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/iChurchSystem/FileContentIndex/8043b3b7-88be-40a2-8ee9-d15f0ecdcad9.vsidx
/.vs/iChurchSystem/FileContentIndex/8043b3b7-88be-40a2-8ee9-d15f0ecdcad9.vsidx
